<ul class="DataList">
    <% Object.entries(data).forEach(function([key, value]) { %>
        <li class="DataList__item">
            <h2 class="DataList__item-heading">
                <% if (key === 'numberOfPages') { %>
                    Number of pages
                <% } else if (key === 'mediaType') { %>
                    Media type
                <% } else if (key === 'povCharacters') { %>
                    POV characters
                <% } else if (key === 'povBooks') { %>
                    POV books
                <% } else if (key === 'coatOfArms') { %>
                    Coat of arms
                <% } else if (key === 'cadetBranches') { %>
                    Cadet branches
                <% } else if (key === 'ancestralWeapons') { %>
                    Ancestral weapons
                <% } else if (key === 'swornMembers') { %>
                    Sworn members
                <% } else if (key === 'currentLord') { %>
                    Current lord
                <% } else { %>
                    <%= key %>
                <% } %>
            </h2>
            <% if (Array.isArray(value)) { %>
                <% value.forEach(function(v) { %>
                    <% if (typeof v !== 'number' && v.includes('https://anapioficeandfire.com/api/')) { %>
                        <a
                            class="DataList__item-content Link"
                            href="/<%= v.split('/').reverse()[1] %>/<%= v.split('/').reverse()[0] %>"
                        >
                            <%= v.split('/').reverse()[1] && v.split('/').reverse()[1].slice(0, -1) %> <%= v.split('/').reverse()[0] %>
                        </a>
                    <% } else { %>
                        <% if (typeof v !== 'number') { %>
                            <p class="DataList__item-content">
                                <%= v.split('/').reverse()[1] && v.split('/').reverse()[1].slice(0, -1) %> <%= v.split('/').reverse()[0] %>
                            </p>
                        <% } else { %>
                            <p class="DataList__item-content">
                                <%= v %>
                            </p>
                        <% } %>
                    <% } %>
                <% }) %>
            <% } else { %>
                <% if (typeof value !== 'number' && value.includes('https://anapioficeandfire.com/api/')) { %>
                    <a
                        class="DataList__item-content Link"
                        href="/<%= value.split('/').reverse()[1] %>/<%= value.split('/').reverse()[0] %>"
                    >
                        <%= value.split('/').reverse()[1] && value.split('/').reverse()[1].slice(0, -1) %> <%= value.split('/').reverse()[0] %>
                    </a>
                <% } else { %>
                    <% if (typeof value !== 'number') { %>
                        <% if (Boolean(+new Date(value))) { %>
                            <p class="DataList__item-content">
                                <%= new Date(value).toLocaleDateString() %>
                            </p>
                        <% } else { %>
                            <p class="DataList__item-content">
                                <%= value.split('/').reverse()[1] && value.split('/').reverse()[1].slice(0, -1) %> <%= value.split('/').reverse()[0] %>
                            </p>
                        <% } %>
                    <% } else { %>
                        <p class="DataList__item-content">
                            <%= value %>
                        </p>
                    <% } %>
                <% } %>
            <% } %>
        </li>
    <% }) %>
</ul>